// Colors
$main_color: #19c8fa;
$transparent_color: rgb(15 116 143 / 70%);
$paragraph_color: #777;
// paddings
$main_padding: 10px;
// gaps
$section_gap: 100px;
$content_gap: 30px;
$text_gap: 20px;
// Fonts
$paragraph_size: 0.88em;
$paragraph_height: 2;
$heading_size: 2em;
$heading_height: 1.5;
